// COLORS
$--white: white;
$--black: black;
$--green: #2A9D8F;
$--red: #E76F51;

$base-color-primary: #272727;
$base-color-secondary: #222823;
$primary-color: #E9C46A;
$accent-color: #264653;