@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  display: grid;
  align-items: center;
  justify-content: center;
  background-color: #264653;
  box-shadow: inset 0 3px 8px black;
  border-radius: 0 30px 30px 0;
  height: 40%;
  margin-right: 20px;
  color: white;
}
.navbar #leftNav {
  height: 100%;
  font-family: monospace;
}
.navbar #leftNav .navMenu {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
  list-style: none;
  color: white;
}
.navbar #leftNav .navMenu a,
.navbar #leftNav .navMenu a:visited {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  text-decoration: none;
  color: white;
}

.adminPanel {
  box-shadow: inset 0 3px 8px black;
  background-color: #222823;
  border-radius: 40px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #E9C46A;
}
.adminPanel .adminDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: 50px;
}
.adminPanel .adminDiv .formDiv {
  background-color: #E9C46A;
  color: #222823;
  text-align: center;
  display: flex;
  flex-direction: column;
}
.adminPanel .adminDiv .formDiv #settingsForm {
  margin: 40px;
}
.adminPanel .adminDiv .formDiv #settingsForm input[type=text],
.adminPanel .adminDiv .formDiv #settingsForm input[type=text]:focus {
  border: none;
  border-radius: 40px;
  height: 30px;
  font-size: medium;
  margin-bottom: 20px;
  text-align: center;
  text-justify: center;
}
.adminPanel .adminDiv .formDiv #settingsForm fieldset {
  border: 3px solid #E76F51;
  padding: 10px;
}
.adminPanel .adminDiv img {
  width: 100px;
  height: 100px;
  background-color: white;
  border-radius: 100rem;
}
.adminPanel .adminDiv .adminButtons {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  align-items: start;
  color: white;
}
.adminPanel .adminDiv .adminButtons .logoutWrapper,
.adminPanel .adminDiv .adminButtons .settingsWrapper {
  display: flex;
  padding: 5px;
}
.adminPanel .adminDiv .adminButtons .logoutWrapper a,
.adminPanel .adminDiv .adminButtons .logoutWrapper a:visited,
.adminPanel .adminDiv .adminButtons .settingsWrapper a,
.adminPanel .adminDiv .adminButtons .settingsWrapper a:visited {
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
}
.adminPanel .adminDiv .adminButtons .logoutWrapper a:hover,
.adminPanel .adminDiv .adminButtons .logoutWrapper button:hover,
.adminPanel .adminDiv .adminButtons .settingsWrapper a:hover,
.adminPanel .adminDiv .adminButtons .settingsWrapper button:hover {
  text-decoration: underline;
}
.adminPanel .adminDiv .adminButtons .logoutWrapper span,
.adminPanel .adminDiv .adminButtons .settingsWrapper span {
  margin-right: 10px;
}
.adminPanel .adminDiv .adminButtons .logoutWrapper button,
.adminPanel .adminDiv .adminButtons .settingsWrapper button {
  color: white;
  background: none;
  border: none;
  font: inherit;
  display: flex;
  align-items: center;
}
.adminPanel .adminDiv .adminButtons .logoutWrapper button:active,
.adminPanel .adminDiv .adminButtons .settingsWrapper button:active {
  color: #E9C46A;
}

header {
  background-color: #272727;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}
header a,
header a:visited {
  color: white;
  text-decoration: none;
  padding: 0 20px 0 20px;
  font-size: 18px;
}
header a:hover {
  color: #E9C46A;
}

footer {
  background-color: #272727;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

.outerWrapper {
  display: grid;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  height: 100vh;
  padding: 50px;
}
.outerWrapper #dashboard {
  background-color: #272727;
  border-radius: 40px;
  height: 100%;
  width: 1400px;
  display: grid;
  grid-template-columns: 1fr 6fr;
  overflow: hidden;
}
.outerWrapper #dashboard #sideMenu {
  display: grid;
  grid-template-rows: 1fr 7fr;
}
.outerWrapper #dashboard #sideMenu .logo {
  background-color: #E9C46A;
  border-radius: 2rem 0;
  width: 70px;
  height: 70px;
  margin: 30px 0 0 30px;
  color: white;
}
.outerWrapper #dashboard #sideMenu .menu {
  display: grid;
  align-items: center;
}
.outerWrapper #dashboard #innerWrapper {
  display: grid;
  width: 100%;
}
.outerWrapper #dashboard #innerWrapper #topDiv {
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin: 20px;
}
.outerWrapper #dashboard #innerWrapper #topDiv .statPanel {
  box-shadow: inset 0 3px 8px black;
  background-color: #222823;
  border-radius: 40px;
  margin: 20px;
}
.outerWrapper #dashboard #innerWrapper #botDiv {
  display: grid;
}
.outerWrapper #dashboard #innerWrapper #botDiv .activity {
  box-shadow: inset 0 3px 8px black;
  background-color: #222823;
  border-radius: 40px;
  margin: 0 40px 40px 40px;
}

.users {
  margin: 50px;
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}
.users .header {
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.users .userList {
  width: 100%;
  max-height: 80%;
  overflow-y: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.pages {
  margin: 50px;
  border-radius: 40px;
  color: white;
  display: flex;
  flex-direction: column;
  max-height: 100%;
}
.pages .header {
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.pages .header a,
.pages .header a:visited {
  font-size: 19px;
  text-decoration: none;
}
.pages .pageList {
  max-height: 80%;
  overflow-y: auto;
}
.pages .pageList .page {
  box-shadow: inset 0 3px 8px black;
  background-color: #222823;
  border-radius: 40px;
  padding: 10px 20px 10px 20px;
  margin: 5px 0 10px 0;
  display: grid;
  grid-template-columns: 2fr 2fr 1fr 1fr 1fr;
  align-items: center;
}
.pages .pageList .page .btnDiv {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.pages .pageList .page .btnDiv .material-symbols-rounded {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}
.pages .pageList .page .btnDiv a,
.pages .pageList .page .btnDiv a:visited {
  color: white;
}
.pages .pageList .page .btnDiv .visit:hover {
  color: #2A9D8F;
}
.pages .pageList .page .btnDiv .edit:hover {
  color: #E9C46A;
}
.pages .pageList .page .btnDiv .delete:hover {
  color: #E76F51;
}

.dynamicPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.dynamicPage h1 {
  padding: 20px;
  width: 80%;
  display: flex;
  color: #E9C46A;
}
.dynamicPage div {
  width: 80%;
  display: flex;
  justify-content: center;
  border: 5px solid #E9C46A;
  background-color: #222823;
  color: white;
  height: 400px;
  padding: 20px;
}

.createForm {
  height: 100%;
  align-items: center;
  justify-content: center;
}
.createForm form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.createForm form input[type=submit] {
  width: 250px;
  margin: 20px;
}
.createForm form input[type=text] {
  width: 700px;
  height: 50px;
  text-align: center;
}
.createForm form textarea {
  width: 700px;
  margin: 20px;
  padding: 20px;
}

.btn-primary {
  background-color: #272727;
  border: 2px solid #E9C46A;
  color: white;
  border-radius: 100rem;
  padding: 10px;
}

.btn-primary:hover {
  background-color: #E9C46A;
  color: #272727;
}

.btn-secondary {
  background-color: #E9C46A;
  border: 2px solid #222823;
  color: #222823;
  border-radius: 100rem;
  padding: 10px;
}

.btn-secondary:hover {
  background-color: #222823;
  color: #E9C46A;
}

.user {
  background-color: #222823;
  width: max-content;
  height: max-content;
  display: flex;
  align-items: center;
  padding: 15px;
  border-radius: 15px;
  margin: 50px;
  box-shadow: inset 0 3px 8px #000;
}
.user img {
  background-color: white;
  border-radius: 100rem;
  width: 100px;
  height: 100px;
  margin-right: 15px;
}
.user .userInfo {
  display: flex;
  flex-direction: column;
}
.user .userInfo p {
  font-family: "Montserrat", sans-serif;
  color: white;
  padding: 5px;
}